@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes fish-swim {
    0%   { content: "ğ“† ğ“†Ÿ ğ“† ğ“†Ÿ ğ“†"; }
    25%  { content: "ğ“†Ÿ ğ“† ğ“†Ÿ ğ“† ğ“†Ÿ"; }
    50%  { content: "ğ“† ğ“†Ÿ ğ“† ğ“†Ÿ ğ“†"; }
    75%  { content: "ğ“†Ÿ ğ“† ğ“†Ÿ ğ“† ğ“†Ÿ"; }
    100% { content: "ğ“† ğ“†Ÿ ğ“† ğ“†Ÿ ğ“†"; }
  }

  .animate-fish {
    animation: fish-swim 1s steps(1) infinite;
  }
}


.test-style {
  color: green;
  font-size: 2rem;
}

:root {
  --font-display: "Cascadia Code", monospace; 
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
